<!DOCTYPE HTML>
<html>
{% load staticfiles %}
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="320" name="MobileOptimized" />
    <meta content="telephone=no" name="format-detection" />
    <title>{{ babyname }}</title>
    <meta name="keywords" content={{ babyname }} />
    <meta name="description" content={{ babyname }} />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="{% static '/script/cjs.js' %}"></script>

    <!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 1483138466]);
(function() {
function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
})();
</script>
<!-- End Inspectlet Embed Code -->
    <!--  下面是google和fb的统计代码-->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1663628633946653');
fbq('track', 'AddToCart');
fbq('track', 'ViewContent');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1663628633946653&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- google Pixel Code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-96094805-2', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>
    <!-- resource -->
    <link href="{% static 'css/cart.css' %}" type="text/css" rel="stylesheet" />
    <script src="{% static 'script/jquery-1.3.2.js' %}" type="text/javascript"></script>
    <!--  -->
    <input type="hidden" id="_region" value="台灣">
    <!--  -->
    <div class="g-bd">
        <div class="m-hd">
            <div class="m-topBar">
                <a class="goback" href="/"></a>
                <div style="width: 100%;">
                    <div class="title">确认信息</div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="order">
            <div class="warp">
                <form action="/t538994135893/success/" name="form" method="post">
                    <!--  -->
                    <input type="hidden" name="combo_id" value="">
                    <input type="hidden" name="token" value="7895b96ee0efa924c7503d71ef220a73">
                    <input type="hidden" id="act" name="act" value="getAttrPrice">
                    <input type="hidden" name="attr[2024]" value="">
                    <!--套餐-->
                    <div class="m-goodItems">
                        <ul class="m-list m-attrs">
                            <li class="item">
                                <div class="m-goodItem">
                                    <div class="imgWrap">
                                        <img src="{% static colorurl %}">
                                    </div>
                                    <!--选中的产品-->
                                    <div class="cnt">
                                        <span style="color: black;font-size: 16px;">{{ babyname }}<br>color：{{ color }} <br/> NT${{ money }} <combprice></combprice></span>
                                        <br>
                                        <div class="tt">數量：{{ num }}</div>

                                    </div>
                                </div>
                            </li>
                            <li class="item" style="margin: 10px 0px; padding-bottom:5px;">
                                <div class="u-format">
                                    <div class="con">

                                    <div style="clear: both;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="u-icon u-address-bg"></div>
                    <div class="address-input">
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed">姓名</div>
                                </div>
                                <div class="cell">
                                    <input required="required" placeholder="請輸入姓名，如張三" type="text" name="name" class="inputText"  onclick="ga('send', 'event', 'step3.inputname', 'click')">
                                </div>
                            </label>
                        </div>
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed">手機</div>
                                </div>
                                <div class="cell">
                                    <input required="required" placeholder="請輸入手機號碼" type="number" name="mob" class="inputText">
                                </div>
                            </label>
                        </div>
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed">郵箱 </div>
                                </div>
                                <div class="cell">
                                    <input placeholder="請輸入常用郵箱地址" type="email" name="email" class="inputText">
                                </div>
                            </label>
                        </div>
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed">詳細地址</div>
                                </div>
                                <div class="cell" id="province">
                                    <select name="province">
                                        <option value="3409" selected> 台灣</option>
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed"></div>
                                </div>
                                <div class="cell">
                                    <input required="required" type="text" name="address" placeholder="重要 某市+某區+街道門牌信息" class="inputText">
                                </div>
                            </label>
                        </div>
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed">郵編</div>
                                </div>
                                <div class="cell">
                                    <input type="text" name="postal" class="inputText">
                                </div>
                            </label>
                        </div>
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed">付款方式</div>
                                </div>
                                <div class="cell">
                                    <input name="payment_type" value="0" checked type="radio"> 貨到付款
                                </div>
                            </label>
                        </div>
                        <div class="buy-single-row label-input">
                            <label>
                                <div class="input-label">
                                    <div class="cell fixed">留言</div>
                                </div>
                                <div class="cell" style="line-height: 18px;">
                                    <textarea placeholder="" name="guest" class="text_area" rows="1" style="padding-top:17px;"></textarea>
                                </div>
                            </label>
                        </div>
                    </div>
                    <!--  -->
                    <div style="padding: 15px; background: #fff;font-size: 14px;color: #666;text-align: left;margin-top: 10px; margin-bottom: 20px;">
                        溫馨提示：支持貨到付款+免郵費+7天鑒賞期！收到貨有任何疑問請聯繫我們在線客服! 也可隨時聯繫:<a href="mailto:ironvanxv@gmail.com">ironvanxv@gmail.com</a>。同時請附上您的姓名及聯繫方式及訂單編號在郵件當中，以便我們能快速的給您及時處理，祝您購物愉快！！！
                    </div>
                    <!--  -->
                    <script>
                    var quotes = new Array("{{ babyname }}");
                    </script>
                    <script src="{% static 'script/fahuo.js' %}" type="text/javascript"></script>
                    <div id="fahuo" style="padding-bottom: 50px;color: #666;text-align: center;margin-top: 15px;font-size: 12px; margin-bottom: 20px;">
                    </div>
                    <!--  -->
                    <footer class="m-orderFt">
                        <div class="actualPrice">
                            <label class="label">商品合計:&nbsp;NT${{ money }}</label>
                            <span class="value">
                            <span id="price"></span>
                            <input type="hidden" name="zfbprice" value="20889">
                            <input type="hidden" name="price" value="" readonly="" class="value" style="width:80px;border: none;text-align: center;"><span id="zfbyh"></span>
                            </span>
                        </div>
                        <button id="linkto" class="btn w-button" type="submit" name="Submit" value="立即購買" onclick="document.form.submit(),ga('send', 'event', 'step3.Createorder', 'click'), fbq('track', 'Purchase', {value: '998.00', currency:'USD'});">立即購買</button>

                    </footer>
                </form>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <!--  -->
    <script type="text/javascript" src="{% static 'script/checkout.js' %}"></script>
    <script>
        $("#linkto").click(function(e){
            var self = $(this);
            e.preventDefault();

            if(postcheck()){
                self.css({
                    "background": "#999",
                    "border-color": "#999"
                }).html("處理中...");

                $("#form").submit();
            }
        });
    </script>
</body>

</html>