html, body {background-color: #f4f4f4; color: #333; font-family: 'Helvetica Neue', Helvetica, 'microsoft yahei', Arial, sans-serif; }
.container {max-width: 540px; margin: 0 auto; }
header {background-color: #fafafa; height: 44px; line-height: 44px; overflow: hidden; }
header h1 {margin: 0px; text-align: center; font-size: 16px; font-weight: normal; }
#page-index {margin-bottom: 50px; }
#page-index .product-info img {width: 100%; max-width: 540px; display: block; }
#page-index .product-info video { display: block; width: 100%; height: auto; }
#page-index footer {width: 100%; max-width: 540px; height: 50px; position: fixed; z-index: 200; background-color: #fff; bottom: 0; box-sizing: border-box; }
/*
#page-index footer > a.left {position: absolute; left: 0; top: 0; width: 90px; height: 50px; border-top: 1px solid #d9d9d9; background-image: url(../images/detail-kefu.png); background-repeat: no-repeat; background-position: center; background-size: auto 100%; }
*/
#page-order {display: none; }
.5a_la { display: none !important; }

.m-servicePolicy {position: relative;z-index: 1;display: flex;flex-flow: row nowrap;align-items: center;justify-content: space-between;height: 35px;}
.m-servicePolicy .item {display: flex; align-items: center; font-size: 14px; color: #666; position: relative; }
/*.m-servicePolicy .item .u-icon-servicePolicyRed{border-radius: 100%; border: solid 1px red; box-sizing: border-box; height: 5px; width: 5px; background-repeat: no-repeat; background-size: 100% 100%; margin-right: 5px; }
*/
.whiteicon{display:inline-block;width: 8px;height: 8px;border-radius: 50%;border: 1px solid #fff;background: transparent;margin-right: 3px;}
.redicon{display:inline-block;width: 8px;height: 8px;border-radius: 50%;border: 1px solid #b4282d;background: #b4282d;margin-right: 3px;}
.dt-section{background: #fff;border-bottom: 10px solid #f4f4f4;}
.dt-section-1{border-bottom: none;}
.m-detailBaseInfo{padding-left: 15px;}
.m-detailBaseInfo .info{padding: 20px 15px 0 0;background-color:#fff;text-align: center; border-bottom: 1px solid #d9d9d9;}
.m-detailBaseInfo .info .name{font-size: 16px;color: #333;line-height: 1;margin-bottom: 5px;}
.m-detailBaseInfo .info .line1{margin-bottom: 20px;}
.m-detailBaseInfo .info .line1 .simpleDesc{font-size: 14px;color: #999;line-height: 1.5;}
.m-detailBaseInfo .info .line2 { text-align: left;}
.m-detailBaseInfo .info .line2 .retailPrice{color: #b4282d;font-size: 28px;line-height: 1;font-weight: 600;font-size: 30px;height: 45px;line-height: 45px;float: left;}
.m-detailBaseInfo .info .line2 .oldPrice{font-size: 16px;line-height: 1;color: #666;text-decoration: line-through;}
.m-detailBaseInfo .info .tagList{display: flex;display: -webkit-flex;display: -moz-flex;justify-content:flex-start;-moz-justify-content:flex-start;-webkit-justify-content:flex-start;margin-top: 15px;margin-bottom: 15px;}
.m-detailBaseInfo .info .tagList .wrap{margin: 0 5px;}
.m-detailBaseInfo .info .tagList .wrap .item{line-height: 18px;padding: 0 5px;color: #f48f18;border: 1px solid #f48f18;border-radius: 2px;float: left;margin-left: 10px;}
.m-listItem{position: relative;display: block;width: 100%; padding-right: 40px;height: 55px; box-sizing: border-box;}
.f-vc{position: relative; top: 50%;transform:translateY(-50%);}
.m-detailBaseInfo .specSelect .inner{font-size: 16px;line-height: 20px;font-weight: bold}
.i-p-b{font-size:14px;border-top:1px dashed #dcdcdc;border-bottom:1px dashed #dcdcdc;padding:8px 0 8px 2px;}
.i-p-m{border-top:1px dashed #dcdcdc; padding:8px 0; overflow:hidden; }
.flag1{float:left; color:#FFF; background:#000; margin-left:2px; padding:2px 4px; border-radius:2px; font-size:14px; }
.timeWrap{float:right; color: #666; margin-right:4px; }
#h,#m,#s,#ms{display:inline-block; height:17px; line-height:17px; color:#FFF; background:#000; padding:0 2px; font-size:16px; text-align:center; border-radius:2px; }
#ms{background:#F00; }
.colon{font-size:18px; padding:0 5px;}
.i-p-b{font-size:14px; border-top:1px dashed #dcdcdc; border-bottom:1px dashed #dcdcdc; padding:8px 0 8px 2px; }
.m-detailBaseInfo .info .line2 span{display: inline-block;width: 50px;margin-top: 5px;margin-right: 2px}
.m-detailBaseInfo .info .line2 label{display: inline-block;width: 50px;font-size: 12px;color: #666;text-align: center;}
.m-listItem .icon{position: absolute;top: 0;right: 5px;bottom: 0;margin: auto;}
.u-icon{display: inline-block;width: 30px;height: 30px;vertical-align: middle;background-repeat: no-repeat;background-size: 100%;}
.u-address-right{background-image: url(../img/right.png);background-size: 100% 100%;float: right;margin-top: 15px;}

/*.bTop{position: relative;display: block;height: 20px;text-align: center;margin-bottom: 14px;margin-top: 10px;font-size: 0;}
.bTitle{font-size: 14px;display: inline-block;line-height: 16px;background-color: #F96060;padding: 2px 20px;position: relative;z-index: 2;vertical-align: top;color: #fff;}
.bTitle1{font-size: 18px;padding: 4px 20px;color: #FFF;background: #0A0A0A;border-radius: 3px;}
.bTop .line{height: 0;font-size: 0;line-height: 0;border-bottom: 1px solid #ccc;position: absolute;top: 9px;left: 0;width: 100%;z-index: 1;}
*/
.soldPart{}
.percentBar{display: inline-block;width: 40%;height: 5px;border: 1px solid #b4282d;border-radius: 8px;overflow: hidden;}
#progress{display:block;height: 100%;background: #b4282d;}
.progress{display: inline-block;height: 100%;background: #F53B3B;}
#percentNum{font-size:14px;margin-left:4px;}

.m-table{display: table;width: 100%;table-layout: fixed;line-height: 50px;border: 1px solid #d9d9d9;}
.m-table .tr{display: table-row;}
.m-table .td{display: table-cell;text-align: center;}
.w-button-block{display: block;width: 100%;}
.w-button, .w-button:focus, .w-button:visited{display: block;vertical-align: middle;text-align: center;cursor:pointer;}
.dt-btns .right .btn-addToCart{color: #fff;border: 1px solid #b4282d;background-color: #b4282d;overflow: hidden;}
.m-goToTop{position: fixed;width: 38px;height: 38px;bottom: 62px;right: 9px; z-index: 20;display: none;background-image: url(../images/goToTop.png);background-size:100% 100%;background-repeat: no-repeat;}
#login{text-align: center;}
.u-login{width: 30px;height: 30px;}
.login{animation:myfirst 1s;-moz-animation:myfirst 1s linear;-webkit-animation:myfirst 1s linear;-o-animation:myfirst 1s linear; -webkit-animation-iteration-count: infinite;}
@keyframes myfirst
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}
@-moz-keyframes myfirst /* Firefox */
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}
@-o-keyframes myfirst /* Opera */
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}


.u-detail-back{width: 50px;height: 50px; background: url(../img/detail-back.png) center center no-repeat;background-size: 70% 70%;cursor:pointer;}


.m-orderFt{display: block; zoom:1; z-index: 1; position: fixed; bottom: 0; width: 100%; max-width: 540px; height: 50px; background-color: #fff; border-top: 1px solid rgba(0,0,0,.2); }
.m-orderFt .actualPrice{float:left;font-size: 16px;padding:5px 20px;}
.m-orderFt .actualPrice .label, .m-orderFt .actualPrice .value{color: #111;font-size: 16px;display:block;text-align:center;}
.m-orderFt .actualPrice .value{color:#b6000f;}
.m-orderFt .btn{float: right;width: 120px;height: 40px;line-height: 40px;border-radius: 6px;margin:5px 10px 5px 0;}
.w-button, .w-button:focus, .w-button:visited{display: inline-block;vertical-align: middle;;text-align: center;font-size: 16px;color: #fff;background-color: #111;border:none;overflow: hidden;}
#POP800_LEAVEWORD_DIV{display: none !important;}

.detail_con div {line-height: 0px;}
.notes{text-align: center;font-weight: 500;}
.User_notes{padding: 15px 15px 0 15px; background: #fff;font-size: 14px;color: #333;text-align: left;}
.note_title{margin: 6px 0;}
.note_text{font-size: 14px;color: #333;text-align: left;line-height: 23px;}
#tipmsg{position: fixed;top: 50%;left: 50%;transform:translate(-50%,-50%); background-color: #000;border-radius: 8px;z-index: 100;transition:opacity .5s ease-in;opacity: .8}
#tipmsg .j-text{color: #fff;text-align: center;padding: 10px;font-size: 14px;}
.decimal{color: #b4282d}
.tips{padding: 5px 15px;color: #999}





/*规格*/
.f-fl{float: left;}
.dt-btns:after, .dt-paramselect .info-con:after{display: block;clear: both;visibility: hidden;height: 0;overflow:hidden;content: ".";}
.dt-paramselect .spec-con{padding: 0 15px 60px 15px;}
.dt-paramselect .info-con{padding: 15px;padding-top: 30px; background: #fff; border-bottom: 1px solid #E0E0E0;}
.dt-paramselect .info-con .left{width: 100px;overflow: hidden;border-radius: 2px;background-color: #fff;margin-right: -100px;}
.dt-paramselect .info-con .left img{width: 100%;height: 100%;}
.dt-paramselect .info-con .right{line-height: 15px;width: 100%;padding-top: 0px;padding-left: 10px;}
.dt-paramselect .info-con .right .con{margin-left: 100px;}
.dt-paramselect .info-con .right .price{font-size: 16px;padding-bottom: 10px;}
.dt-paramselect .info-con .right .money{font-weight: 600}
.dt-paramselect .info-con .right .sku{font-size: 16px;}
.dt-paramselect .info-con .right .sku .it{margin-right: 5px;}
.u-format,.u-fornum{padding: 0 15px;font-size: 16px}
.u-format .tt,.u-fornum .tt{line-height: 15px;padding-bottom: 10px;font-size: 16px;color:#9b9b9b;}
.u-format .package{padding-bottom: 15px;}
.u-format .package .tab{position: relative;vertical-align: middle;border-radius: 3px;padding: 3px 15px;font-size: 14px;text-align: center;margin-right: 15px;margin-bottom: 10px;border: 1px solid #333;}
.u-format .package .u-spec-sel{width: 20px;height: 20px;background-image: url(../images/spec-sel.png);background-repeat: no-reqeat;background-size: 100%;}
.u-format .package .tab .u-spec-sel{display: none;position: absolute;bottom: -2px;right: -2px;}
.u-format .con{padding-bottom: 15px;}
.u-format .con .tab{display: inline-block;cursor:pointer;}
.u-format .con .tab{position: relative;vertical-align: middle;border-radius: 15px;padding: 0 24px;font-size: 14px;line-height: 30px; text-align: center;margin-right: 15px;margin-bottom: 10px;border: 1px solid #333;}
.u-format .con .tab-sel,.u-format .package .tab-sel{background:#111;color:#fff;}
.u-format .con .u-spec-sel{width: 20px;height: 20px;background-image: url(../images/spec-sel.png);background-repeat: no-reqeat;background-size: 100%;}
.u-format .con .tab .u-spec-sel{display: none;position: absolute;bottom: -2px;right: -2px;}
.u-format .con .tab-sel .u-spec-sel,.u-format .package .tab-sel .u-spec-sel{display: block;}
.m-selnum{display: inline-block;/*background-image: url(../images/selnum.png);background-size:100% 100%;*/border: 1px solid #111;
    border-radius: 20px;}
.m-selnum>div{text-align:center;line-height:32px;}
/*.m-selnum.dr{background-image: url(../images/selnum.png)}*/
.m-selnum .less, .m-selnum .more, .m-selnum .textWrap, .m-selnum input{border: none;background-color: transparent;}
.m-selnum .less, .m-selnum .more, .m-selnum .textWrap{position: relative;float: left;height: 32px;}
.m-selnum .textWrap{position: relative;width: 50px;font-size: 14px;border-left:1px solid #111;border-right:1px solid #111;}
.m-selnum .less, .m-selnum .more{width: 41px;cursor:pointer;}
.m-selnum .textWrap input{position: relative;z-index: 1;font-size: 14px;}
.m-selnum input{height: 100%;width: 100%;box-sizing: border-box;margin: 0;text-align: center;color: #333;}
/*.u-detail-back{width: 50px;height: 50px; background-image: url(../images/detail-back.png);background-repeat: no-repeat;background-size: 100% 100%;}*/
.swiper-slide-active{ height:auto !important;}
.swiper-container { width: 100%; overflow: hidden;}
.swiper-container img{width: 100%;}

.biao{width: 100%;height: 24px;padding: 10px 0;background: white;}
.biao h3{text-align: center;height:24px;line-height: 24px;width: 110px;background: #000;border-radius: 5px;color: white;margin: 0 auto;font-size: 16px;font-weight: 300}
/*放大效果*/
/*放大效果*/
.msKeimgBox { margin: 0px auto; width: 100%; overflow: hidden; position: relative; padding-top: 10px;  }
.msKeimgBox ul { width: 1000px; }
.mskeLayBg { background: #000; width: 100%; position: absolute; left: 0px; top: 0px; z-index: 10; opacity: 0.7; filter: alpha(opacity=70); display: none; _display:none!important }
.mskelayBox { height: 100%; width:100%;  position: fixed; left: 0; top: 0;  z-index: 1000; background: #FFF; display: none; _display:none!important }
.mskeImgBg { height: 57px; width: 100%; position: absolute; left: 0px; bottom: 0px; }
.mskeClaose { position: absolute; top: 15px; right: 18px; cursor: pointer; }
.mske_downIco { position: absolute; left: 0px; top: 0px; }
.mske_imgDown { background: url(../images/mke_imgMbg.png) repeat; height: 57px; width: 818px; position: absolute; right: 0px; bottom: 0px; font: 13px/57px "微软雅黑"; color: #FFF; }
.mske_imgDown a { margin-left: 34px; }
.msKeimgBox ul li { float: left;  margin: 0 10px 10px 0; width: auto; cursor: pointer; }
.mskeTogBtn { background: url(../images/mke_moreImg.jpg) no-repeat; height: 93px; width: 185px; position: absolute; z-index: 1; right: 0px; cursor: pointer; bottom: 0px; }
.mskeTogBtn2 { background: url(../images/mke_moreImg2.jpg) no-repeat; bottom: 10px;display: none }
.msKeimgBox2 { height: auto; }
.hidden{position: absolute;left: 1000px;}
.mske_html{ padding: 20px; box-sizing: border-box; width: 100%; height: 100%; }




/* new desigin chart */
.product-details{background:#fff;padding:0 30px;}
.product-details .product-price{font-size:36px;padding:50px 0 30px 0;text-align:center;margin:0;}
.product-details .product-discount{overflow:hidden;font-size:16px;}
.product-details .product-discount span{float:left;width:40%;text-align:right;color:#9c9c9c;text-decoration:line-through;font-weight: 300;}
.product-details .product-discount b{float:left;width:20%;text-align:center;color:#bd2b35;font-weight:normal;font-weight: 300;}
.product-details .product-discount em{float:left;width:40%;color:#9c9c9c;font-weight: 300;}
.product-details .discount-icon{overflow:hidden;padding:30px 0;}
.product-details .discount-icon .item{width:50%;float:left;}
.product-details .discount-icon .item b{display:block;width:54px;height:24px;text-align:center;line-height:24px;font-size:14px;color:#fff;font-weight:normal;}
.product-details .discount-icon .item-cx b{background:#b7010e;float:right;margin-right:8px;}
.product-details .discount-icon .item-tm b{background:#f6bf31;margin-left:8px;}
.product-details .product-info{height:80px;line-height:80px;border-top:1px dotted #e5e5e5;}
.m-servicePolicy .item .item-icon{display:inline-block;width:18px;height:15px;background:url('../img/icons.jpg') no-repeat;margin-right:5px;}
.m-servicePolicy .item .item-icon1{background-position:0 0;}
.m-servicePolicy .item .item-icon2{background-position:-18px 0;}
.m-servicePolicy .item .item-icon3{background-position:-36px 0;}
.product-details .count-down{overflow:hidden;font-size:14px;}
.product-details .count-down .left-tit{float:left;}
.product-details .count-down .right-time{float:right;}
.product-details .latest-purchase{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select-type-num{margin:20px 0 0;height:60px;line-height:60px;background:#fff;padding:0 30px;cursor:pointer;}
.bTop{position:relative;height:30px;line-height:30px;text-align:center;margin:20px 0;overflow:hidden;}
.bTop .line{position:absolute;left:50%;top:50%;margin-left:-130px;margin-top:-1px;width:260px;height:0;border-top:2px solid #111;}
.bTop .bTitle{font-size:18px;background:#eee;padding:0 10px;position:relative;z-index:1;font-weight: 300;}
.empty-box{width:100%;height:30px;background:#fff;}
.latest-purchase-box{-webkit-transition:all 0.3s ease-in;padding:0 30px;background:#fff;height:153px;overflow:hidden;}
.latest-purchase-list{}
.user-note{padding:30px;background:#fff;}
.user-note .item{line-height:36px;color:#6d6d6d;font-size:14px;}
.user-note .item .dot{display:inline-block;width:8px;height:8px;border-radius:50%;background:#c59265;position: relative;top: -1px;}
.latest-purchase-list .item{height:50px;line-height:50px;font-size:14px;border-bottom:1px dotted #e5e5e5;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#6d6d6d;}
.footer{overflow:hidden;border:1px solid #f1f1f1;}
.footer .footer-price{float:left;overflow:hidden;width:50%;height:50px;}
.footer .footer-price .price{width:50%;float:left;text-align:center;padding:5px 0; }
.footer .footer-price .price em,.footer .footer-price .price b{display:block;font-weight:normal;}
.footer .footer-price .old-price{color:#9b9b9b;}
.footer .footer-price .old-price b{text-decoration:line-through;}
.footer .footer-price .new-price b{color:#b6000c;}
.footer .right{float:right;width:48%;padding-right:2%;}
.footer .right .w-button{background:#111;display:block;line-height:40px;margin:5px 0;border-radius:5px;border:none;}

.dt-paramselect .info-header{height:50px;line-height:50px;text-align:center;position:relative;font-size:14px;background:#fff;border-bottom:1px solid #e6e6e6;}
.dt-paramselect .info-header .u-icon{position:absolute;left:0;top:0;}
.dt-paramselect .product-details{background:#fff;padding:30px 0;}
.dt-paramselect .product-details .u-format{border-bottom:1px dotted #e5e5e5;}
.dt-paramselect .product-details .u-format .product-size{width:100%;overflow:hidden;}
.dt-paramselect .product-details .u-format .product-size li{margin:10px 0;cursor:pointer;}
.dt-paramselect .product-details .u-format .product-size .active span{background:#111;color:#fff;}
.dt-paramselect .product-details .u-format .product-size li span{border: 1px solid #ccc;border-radius: 20px;height: 30px;line-height: 30px;text-align: center;display: inline-block;padding: 0 24px;}
.dt-paramselect .important-tit{color:#b5b5b5;text-align:center;font-size:14px;background:#fff;padding:30px 0;}



















